@charset "UTF-8";
.wrap {
  width: 940px;
  margin: 0 auto 200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

nav img {
  width: 100%;
}

nav .logo {
  width: 200px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

nav ul a {
  display: block;
  text-decoration: none;
  color: #3F5D45;
  padding: 8px 30px;
  font-weight: 900;
}

nav .shop {
  margin-left: 24px;
}

.banner {
  margin-bottom: 30px;
}

.banner img {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside a {
  text-decoration: none;
  color: #3F5D45;
  font-weight: 900;
  display: block;
  padding: 16px 0;
  font-size: 24px;
}

aside ul {
  width: 300px;
  text-align: center;
}

aside li {
  border: 1px solid #EAF0ED;
}

aside li.active {
  background-color: #EAF0ED;
}

aside li.title {
  padding: 16px 0;
  font-size: 24px;
  color: white;
  background-color: #3F5D45;
}

aside li:not(:nth-of-type(5)) {
  border-bottom: none;
}

.commodity {
  margin-bottom: 30px;
}

.commodity section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commodity article {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
}

.commodity article img {
  width: 100%;
  vertical-align: middle;
}

.commodity article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commodity article span {
  text-align: center;
  color: #3F5D45;
  display: block;
  border: 1px solid #EAF0ED;
  padding: 14px 0;
  font-size: 20px;
}

.commodity article span:nth-of-type(1) {
  width: calc(300px - 127px);
}

.commodity article span:nth-of-type(2) {
  width: 127px;
  border-left: none;
  font-weight: 900;
}

.commodity article button {
  border: none;
  background-color: #EAF0ED;
  color: #3F5D45;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  font-weight: 900;
  cursor: pointer;
}

.commodity article::before {
  content: '本日精選';
  position: absolute;
  top: 0;
  left: 20px;
  width: 30px;
  height: 100px;
  color: white;
  background-color: #3F5D45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.2;
}

.commodity article::after {
  content: url(../images/favorite_border.png);
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 18.35px;
}

.shop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0;
}

.shop_list a {
  text-decoration: none;
  display: block;
  color: #3F5D45;
  padding: 16px 24px;
  line-height: 1.5;
  font-size: 20px;
}

.shop_list li {
  font-size: 0;
  border: 1px solid #EAF0ED;
  height: 60px;
  overflow: hidden;
}

.shop_list li.arrow a {
  padding: 18px;
}

.shop_list li.active {
  background-color: #3F5D45;
}

.shop_list li.active a {
  color: white;
}

.shop_list li:not(li:nth-of-type(5)) {
  border-right: none;
}
/*# sourceMappingURL=style.css.map */